# This file is meant to compatible with multiple shells, including:
# bash, zsh and fish. For this reason, use this syntax:
#    export VARNAME=value
# Generate a mnemonic from https://iancoleman.io/bip39/ to use for contract deployments
export MNEMONIC="test test test test test test test test test test test junk"
# RPCs
export BASE=https://goerli.base.org
export FOUNDRY=http://localhost:8545
export SEPOLIA=https://rpc.sepolia.dev
export TAIKO=https://rpc.test.taiko.xyz

# Vite
export VITE_WEB3MODAL_PROJECT_ID="4afad89b22823fea5ced2968ed35be1f"
